:root {
    --highlight-color: rgb(255, 166, 0);
    --accent-color: rgb(189, 252, 209);
}

.reveal .slides p { text-align:left; }

b { color: var(--highlight-color); }

h4 { 
    color: var(--highlight-color) !important; 
}

.MathJax, .katex{ color: var(--accent-color); }

li { 
    padding-top: 0.5em; 
    list-style-type: "» ";
}

i { font-style: oblique; color: var(--accent-color)}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    vertical-align: middle;
}

.bib-authors {
    font-size: smaller;
    font-weight: bold;
}

.bib-journal {
    font-size: 70%;
    font-style: italic; 
}

.bib-title {
    font-size: 0.7em;
    color: var(--accent-color)
}   
